<!DOCTYPE html>
<html>
  <head>
    <title>AnthonyMarquez</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Parisienne|Rye|Source+Sans+Pro" rel="stylesheet">
    <meta charset="UTF-8">
    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash[:notice] %>
    <h1 style="color: red"><%= flash[:notice] %></h1>
    <% end %>
    <div class="title">
      <h1>Anthony Marquez Gonzalez</h1>
      <h3>May 5, 1927 - October 26, 2017</h3>
      <h3>"Dissent is the highest form of patriotism" or "What the fuck is this?!?"</h3>
    </div>

    <%= yield %>
  </body>
</html>
